[submodule "Machine Problem 1/Fox-Chicken-Grain-Riddle-with-PyGame"]
	path = Machine Problem 1/Fox-Chicken-Grain-Riddle-with-PyGame
	url = https://github.com/D3struf/Fox-Chicken-Grain-Riddle-with-PyGame.git
